@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.logo {
    font-family: 'Leckerli One', cursive;
    color: orange !important;
    font-size: 30px;
}

a {
    color: orange;
}

body {
    background-color: #fafafa;
}


nav a {
    color: black !important;
    font-weight: 300;
}

nav {
    padding-left: 20px;
    padding-right: 20px;
}

.hero {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    margin-bottom: 30px;
}

.hero h3 {
    font-weight: 700;
}

.hero h4 {
    font-weight: 300;
}

.hero button {
    background-color: orange;
}

.submit-button {
    border-radius: 20px;
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 10px 15px 10px 15px;
}

.submit-button:hover {
    font-size: 13px;
}

#smaller {
    font-weight: 300 !important;
}

.rounded {
    border-radius: 10px;
}

.side-padding {
    padding-left: 5px;
    padding-right: 5px;
}

.flashes h3 {
    line-height: 2;
    font-weight: 600;
}

.short-text {
    font-size: 20px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

footer {
    background-color: white;
    margin-bottom: 0px;
}

footer h5 {
    color: darkgray;
    font-size: 15px;
    font-weight: 600;
}

footer h3 {
    vertical-align: middle;
    text-align: center;
    font-weight: 700;
}

footer p {
    font-size: 12px;
    color: darkgray;
}


.tagline {
    font-size: 10px;
    text-align: center;
}


.adheadings {
    font-weight: 600;
}

.adheadingstext {
    font-weight: 300;
}

.adcard {
    background-color: #fafafa;
    padding: 15px;
    margin: 10px;
}

.dotted {
    border: 0.5px dashed lightgray;
    margin-top: 15px;
    margin-bottom: 15px;
}

#myInput {
    border: none;
}

.noborder {
    border: none !important;
    font-weight: 700;
}

.boldfont {
    font-weight: 700;
}
.ad-exempel {
    background-color: white;
    padding: 10px;
    margin: 20px;
}

.ad-container {
    padding: 10px;
}


.adheading {
    font-size: 20px;
    line-height: 26px;
    font-weight: normal;
    color: #1a0dab;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;

}

.adlink {
color: #202124;
font-size: 14px;
}


.addesciption {
    color: #4d5156;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 10px;
    max-width: 600px;
}

.comment {
    background-color: rgb(247, 247, 230);
    padding: 20px;
    margin: 20px;
}

.hidden {
    display: none;
}

.imagesize {
    width: 100%;
    border-radius: 10px;
}

/* ------------------------------------------- Mobile  */

@media only screen and (max-width: 600px) {

.adlink {
font-size: small;
}


.adheading {
    font-size: medium;
}    

.addesciption {
    font-size: small;
}

.mobile-font-size {
    font-size: 11px;
    line-height: 12px;
}

.submit-button {
    font-size: 12px;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    line-height: 35px;
}

}