{% extends "base.html" %}
{% block content %}
<!-- Header -->
<div class="hero">
    <h3>Add ad+</h3><br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h5 class="center-align">{{ message }}</h5>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel white rounded">
                <div class="row">
                    <form class="col s12" method="POST" action="{{ url_for('add_ad') }}">
                        <!-- Heading 1 -->
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Heading 1 in ad" id="heading1" maxlength="30" 
                                name="heading1" type="text" class="validate" required>
                                <label for="heading1">Heading 1</label>
                            </div>
                            <div class="row">
                                <!-- Ad Group dropdown -->
                                <div class="input-field col s6">
                                    <select id="adGroup_name" name="adGroup_name" 
                                    class="validate" required>
                                        <option value="" disabled selected>Choose Ad Group</option>
                                        {% for adGroup in adGroups %}
                                        <option value="{{ adGroup.adGroup_name }}">{{ adGroup.adGroup_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="adGroup_name">Select Ad Group</label>
                                </div>
                            </div>
                        </div>
                        <!-- Heading 2 -->
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Heading 2 in ad" maxlength="30" id="heading2" 
                                name="heading2" type="text" class="validate" required>
                                <label for="heading2">Heading 2</label>
                            </div>
                        </div>
                        <!-- Heading 3 -->
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="Heading 3 in ad" maxlength="30" id="heading3" 
                                name="heading3" type="text" class="validate" required>
                                <label for="heading3">Heading 3</label>
                            </div>
                        </div>
                        <!-- Description -->
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="description" placeholder="Ad description" maxlength="90" 
                                name="description" class="materialize-textarea" required></textarea>
                                <label for="description">Description</label>
                            </div>
                        </div>
                        <!-- Description2 -->
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="description2" placeholder="Ad description" maxlength="90" 
                                name="description2" class="materialize-textarea" required></textarea>
                                <label for="description2">Description #2</label>
                            </div>
                        </div>
                        <!-- Landingpage -->
                        <div class="row">
                            <div class="input-field col s6">
                                <input placeholder="landing_page" id="landing_page" name="landing_page" 
                                type="text" class="validate" required>
                                <label for="landing_page">Landingpage url</label>
                            </div>
                        </div>
                        <!-- Deadline -->
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="deadline" name="deadline" type="text" class="datepicker validate" required>
                                <label for="deadline"><i class="far fa-calendar-alt"></i> Deadline</label>
                            </div>
                        </div>
                        <!-- For user -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input placeholder="Client" id="client" maxlength="30" name="client" 
                                type="text" class="validate" required>
                                <label for="client">Client</label>
                            </div>
                        </div>
                        <!-- Submit -->
                        <div class="row">
                            <div class="col s12 center-align">
                                <button type="submit" class="submit-button green">
                                    Add ad <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}