{% extends "base.html" %}
{% block content %}

<div class="hero">
    <h3>Ads</h3><br>
    <h4>Check your ads below</h4>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                     {% for message in messages %}
                          <h5 class="center-align">{{ message }}</h5>
                   {% endfor %}
                {% endif %}
    {% endwith %}
</div>
<!-- Ads -->
<div class="row">
    <div class="container card-panel  white rounded col s12 m8 offset-m2">
        <div class="row">
            <div class="col s12 m8 offset-m2">
                {% for ad in ads %}
                    <div class="adcard z-depth-2">
                                <div class="row">
                                    <span class="col s4"><h5><b>Ad Group:</b> {{ ad.adGroup_name }}</h5></span>
                                    <span class="col s8 right-align"><h5><b> </b>
                                        {% if ad.approved_by == "on" %}
                                            <b>Approved by client: </b> <i class="fas fa-check green-text"></i>
                                            <!-- <div class="switch">
                                                    <label>
                                                    <input type="checkbox">
                                                    <span class="lever"></span>
                                                    Yes
                                                    </label>
                                            </div> -->
                                        {% endif %}
                                        {% if ad.approved_by == "off" %}
                                            <b>Approved by client:</b> <i class="fas fa-check grey-text"></i>
                                        {% endif %}
                                    </h5></span>
                                </div>
                                <div class="row">
                                    <span class="col s2 m2"><b>Heading 1</b></span>
                                    <span class="col s6 m6">{{ ad.heading1 }}</span>
                                </div>
                                <div class="row">
                                    <span class="col s2"><b>Heading 2</b></span>
                                    <span class="col s6">{{ ad.heading2 }}</span>
                                </div>
                                <div class="row">
                                    <span class="col s2"><b>Description</b></span>
                                    <span class="col s6">{{ ad.description }}</span>
                                </div>
                                <div class="row">
                                    <span class="col s2"><b>Landingpage</b></span>
                                    <span class="col s6">{{ ad.landing_page }}</span>
                                </div>
                                    <div class="row">
                                        <hr>
                                    <span class="col s2"><b>Comment</b></span>
                                    <span class="col s6"><i>{{ ad.comment }}</i></span>
                                </div>
                                <div class="row">
                                        <div class="col m3">
                                            {% if session.user|lower == "admin"|lower %}
                                        <a href="{{ url_for('edit_ad', ad_id=ad._id) }}" class="submit-button blue">Edit  <i class="fas fa-pen"></i></a>
                                            {% endif %}
                                        </div>
                                        <div class="col m3">
                                            {% if session.user|lower == "admin"|lower %}
                                        <a href="{{ url_for('delete_ad', ad_id=ad._id) }}" class="submit-button red">Delete  <i class="fas fa-trash"></i></a>
                                            {% endif %}
                                        </div>
                                        <div class="col m3">
                                        <a href="{{ url_for('comment_ad', ad_id=ad._id) }}" class="submit-button purple">Comment  <i class="fas fa-comment"></i></a>
                                        </div>
                                        <div class="col m3">
                                        <p class="adheadings"><i class="far fa-calendar-alt"></i> {{ ad.deadline }} </p>
                                        </div>
                                    </div>
                                </div>
 
                 {% endfor %}        


   
       </div>
        </div>
 </div>
</div>
    <!-- {% for ad in ads %}
        {{ ad.adGroup_name }}<br>
        {{ ad.approved_by }}<br>
        {{ ad.heading1 }}<br>
        {{ ad.heading2 }}<br>
        {{ ad.landing_page }}<br>
        {{ ad.deadline }}<br>
        {{ ad.comment }}<br>
    {% endfor %} -->
{% endblock %}
</div>