<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}


    <title>Ad review - streamline your ad production</title>
</head>
<header>
    <!--  Desktop Menu from Materialize  -->
    <nav class="nav-extended white text-shadow z-depth-3">
        <div class="nav-wrapper container">
            <a href="{{ url_for('index') }}" class="logo"><i class="fas fa-bolt"></i> Ad reviewer</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
                <i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if session.user %}
                <li><a href="{{ url_for('get_ads') }}">Ads</a></li>
                {% if session.user|lower == "admin"|lower %}
                <li><a href="{{ url_for('adgroups') }}">Ad Groups</a></li>
                <li><a href="{{ url_for('add_ad') }}">Add Ads</a></li>
                <li><a href="{{ url_for('approved_ads') }}">Approved Ads</a></li>
                {% endif %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Sign In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Mobile menu from Materialize -->
    <ul class="sidenav" id="mobile-demo">
        <li>
            <h4 class="center-align"><i class="fas fa-bolt"></i>Ad Reviewer</h4>
        </li>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {% if session.user %}
        <li><a href="{{ url_for('get_ads') }}">Ads</a></li>
        {% if session.user|lower == "admin"|lower %}
        <li><a href="{{ url_for('adgroups') }}">Ad Groups</a></li>
        <li><a href="{{ url_for('add_ad') }}">Add Ads</a></li>
        <li><a href="{{ url_for('approved_ads') }}">Approved Ads</a></li>
        {% endif %}
        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
        <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
        {% else %}
        <li><a href="{{ url_for('login') }}">Sign In</a></li>
        <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
    </ul>
</header>

<body>

    {% block content %}
    {% endblock %}
    <!-- Footer -->
    {% block footer %}
    <footer>
        <div class="row container">
            <div class="col s12 m4">
                <h3 class="logo">Ad reviewer©</h3>
                <p>
                    Ad Rewview is as sevrice that helps Agencys and Clients streamline their Google Ad workflow.
                </p>
            </div>
            <div class="col s1 m2">

            </div>
            <div class="col s5 m2">
                <h5>Menu</h5>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('get_ads') }}">Ads</a></li>
                    {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('adgroups') }}">Ad Groups</a></li>
                    <li><a href="{{ url_for('add_ad') }}">Add Ads</a></li>
                    <li><a href="{{ url_for('approved_ads') }}">Approved Ads</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="col s6 m4">
                <h5>Contact</h5>
                <ul>
                    <li><a href="mailto:carlhenric.grip@gmail.com"><i class="far fa-envelope"></i> Mail</a></li>
                    <li><a href="https://www.linkedin.com/in/carl-henric-grip-462123104/"><i
                                class="fab fa-linkedin-in"></i> Linkedin</a></li <li><a
                        href="mailto:carlhenric.grip@gmail.com"><i class="fab fa-github"></i> Git Hub</a></li </ul>
            </div>
        </div>
    </footer>
    {% endblock %}
    <!-- Jquery script-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--  Materilize JS script  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>