{% extends "base.html" %}
{% block content %}
<!-- header content -->
<div class="hero">
    <h3 class="beige">How it works</h3><br>
    <h4 class="forrestgreen">and why you can save time on it.</h4>
</div>
<!-- Two grid content -->
<div class="row">
    <div class="container">
        <div class="card-panel white">
            <div class="row">
                <div class="col s12 m6 center-align">
                    <h3 class="boldfont forrestgreen">Register</h3>
                    <p class="forrestgreen">Reviewer is a service that help clients and agencys streamline their Google Ad content
                        production.
                        <b>No more</b> back and forth sending emails with ad suggestions. </p>
                </div>
                <div class="col s12 m6">
                    <img src="static/images/reviewing.jpg" class="imagesize" alt="reviwing image">
                </div>
            </div>
            <!-- Step 2-->
            <div class="row">
                <div class="col s12 m6 center-align">
                    <h3 class="boldfont forrestgreen">Review your ads</h3>
                    <p class="forrestgreen">Reviewer is a service that help clients and agencys streamline their Google Ad content
                        production.
                        <b>No more</b> back and forth sending emails with ad suggestions. </p>
                </div>
                <div class="col s12 m6">
                    <img src="static/images/reviewing.jpg" class="imagesize" alt="reviwing image">
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}