{% extends "base.html" %}
{% block content %}

<div class="hero">
    <h3>Reviewing Ads have never been easier</h3><br>
    <h4>Test your free subscription today <a class="btn-floating pulse  green darken-2"><i class="fas fa-chevron-circle-right"></i></a> 
    </h4>
</div>

  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel teal">
        <span class="white-text">I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
        </span>
      </div>
    </div>
  </div>
            

{% endblock %}