{% extends "base.html" %}
{% block content %}

<div class="hero">
    <h3>Reviewing Ads have never been easier</h3><br>
    <h4>Test your free subscription today <a class="btn-floating pulse  green darken-2"><i class="fas fa-chevron-circle-right"></i></a> 
    </h4>
</div>

<div class="row">
    <div class="container">
      <div class="card-panel white">
            <div class="row">
              <div class="col s12 m6 center-align">
                <h3 class="boldfont">Lets streamline your reviewing today</h3>
                <p>Reviewer is a service that help clients and agencys streamline their Google Ad content production. 
                    <b>No more</b> back and forth sending emails with ad suggestions. </p>

              </div>  
              <div class="col s12 m6">
                <img src="static/images/reviewing.jpg" class="imagesize" alt="reviwing image">
              </div>   
            </div>
      </div>
    </div>
</div>
            

{% endblock %}