{% extends "base.html" %}
{% block content %}

<div class="hero">
    <h3>Profile:<span id="smaller"> {{ username }}</span></h3><br>
</div>
<div class="container">
    <div class="row">
      <div class="col s12 m6 offset-m3">
            <h5 class="center-align boldfont">How it works</h5>
            <p class="short-text">
                <ol>
                    <li class="short-text">To view your ads, click on Ads in the menu above. </li>
                    <li class="short-text">Approve the Ads with the "Approve" button. </li>
                    <li class="short-text">If you have feedback or want to change something, click "comment".</li>
                </ol>
            </p>    
      </div>         
     <!-- --> <div class="col s12 m6">
           <!-- Card panel
            <div class="row">
                <div class="col s12 m6" method="POST" action="{{ url_for('register') }}">
                    <div class="card-panel  white z-depth-4 rounded">
                    <p class="short-text">
                  <b>Welcome {{ username }}</b><br>
                  We´re hope that your enjoy your visit here. If you have any concerns, don´t hesitate to contact us. 
                     </p> 
                    </div>
                </div>
            </div>
       --> </div>   
    </div>
</div>


            
{% endblock %}