{% extends "base.html" %}
{% block content %}

<div class="hero">
    <h3>Registrate below to start review ads</h3><br>
    <h4>Already register? <a href="{{ url_for('login')}}"> Login </a>
        <a class="btn-floating pulse green darken-2">
            <i class="fas fa-hand-point-right forrestgreen"></i></a>
    </h4>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <h3 class="center-align">Register</h3>
            <p class="short-text center-align">
                Fill in the required fields and your good to go!
            </p>

        </div>
        <div class="col s12 m6">
            <!-- Card panel -->
            <div class="row">
                <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
                    <div class="card-panel  white z-depth-4 rounded">
                        <!-- Flash messages-->
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <h5 class="center-align">{{ message }}</h5>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <!-- Username -->
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="username" id="username" minlength="5" 
                                maxlength="20" type="text" class="validate" required>
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Company -->
                            <div class="input-field col s12 m12">
                                <input name="company" id="company" type="text" 
                                minlength="3" class="validate" required>
                                <label for="company">Company</label>
                            </div>
                        </div>
                        <!-- Password-->
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="password" id="password" minlength="5" 
                                maxlength="20" type="password" class="validate" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <!-- Submit button -->
                        <div class="center-align">
                            <button type="submit" class="submit-button pink">Register 
                                <i class="fas fa-chevron-circle-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>



{% endblock %}